<style>
.accountLabel {
	display:inline-block;
	text-align:right;
	padding-right:10px;
	width:150px;
}

#state { width:40px; }
#zip { width:60px; }
</style>

<h1>Your Account</h1>

<a href="#">View Your Purchase History</a>

<br><br>

<form action="php/account.php" method="post" name="account_form">
	<span class="accountLabel">First Name:</span>
	<input type="text" name="firstName" /><br>
	<span class="accountLabel">Last Name:</span>
	<input type="text" name="lastName" /><br>
	<span class="accountLabel">Email:</span>
	<input type="text" name="email" /><br><br>
	
	<h3>Shipping Information</h3>
	<span class="accountLabel">Address 1:</span>
	<input type="text" name="address1" /><br>
	<span class="accountLabel">Address 2:</span>
	<input type="text" name="address2" /><br>
	<span class="accountLabel">City:</span>
	<input type="text" name="city" id="city" /><br>
	<span class="accountLabel">State:</span>
	<input type="text" name="state" id="state" /><br>
	<span class="accountLabel">Zip:</span>
	<input type="text" name="zip" id="zip" /><br><br>
	
	<h3>Change Password</h3>
	<span class="accountLabel">Current Password:</span>
	<input type="password" name="currentPassword" /><br>
	<span class="accountLabel">New Password:</span>
	<input type="password" name="newPassword1" /><br>
	<span class="accountLabel">Confirm New:</span>
	<input type="password" name="newPassword2" /><br><br>
	
	<input type="submit" value="Save Changes" onclick="formhash(this.form, this.form.currentPassword, this.form.newPassword1, this.form.newPassword2);" />
	
</form>

